* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#navbar1{
    background: linear-gradient( to bottom,rgb(17, 66, 17) ,#503617);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar1 a{
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar1 h1{
    width: 200px;
    font-family: cursive;
    text-align: center;
}
#navbar1 #logo1{
    margin-right: auto;
}
#navbar2{
    background: linear-gradient( to bottom,rgb(255, 17, 0),pink ,rgb(255, 204, 0));
    display:flex;
    justify-content: space-between;
    align-items: center;    
}
#navbar2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);

    text-align: center;
}
#navbar2 h1{
    width: 200px;
    font-family: fantasy;
    text-align: center;
}


#navbar2 .cta-button{
    background-color: rgb(228, 71, 98);
    color: rgb(237, 237, 237);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    margin-left: 80px;
}
#navbar3{
    background: linear-gradient( to bottom,rgb(85, 11, 82),rgb(0, 0, 0) ,
    rgb(255, 111, 0));
    display:flex;
    justify-content: space-between;
    align-items: center;    
}
#Navbar3 h1{
    font-size: xx-large;
}
#header{
    background-color: rgb(0, 0, 0);
    color: red;
    text-decoration: none;
    text-align: center;
    font-family: "Splash", cursive;
    font-size: xx-large;
    font-style:normal;    
}
#bogo{
    text-decoration: none;
    color: red;
}
#navbar3 h1{
    font-family: "Creepster", system-ui;
    font-weight:bold;
    font-style: normal;
    margin-left: 10px;
}
#navbar3 a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-align: center;
    margin: 15px;
}
#navbar3 .cta-button{
    background-color: rgb(239, 0, 0);
    color: rgb(237, 237, 237);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    margin-left: 80px;
}
#bottom{
    display:block;
    text-align: center;
    padding: 24px;
    background:linear-gradient( rgb(255, 111, 0), black,rgb(85, 11, 82));
}
#bottom a {
    margin: 10px;
    text-decoration: none;
    color: white;
    text-align: justify;
    font-size:small;
    background-color:rgb(85, 11, 82 ;

}
