* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#navbar1{
    background: linear-gradient( to bottom,rgb(17, 66, 17) ,#503617);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar1 a{
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar1 h1{
    width: 200px;
    font-family: cursive;
    text-align: center;
}
#navbar1 #logo1{
    margin-right: auto;
}
#navbar2{
    background: linear-gradient( to bottom,orange,pink ,yellow);
    display:flex;
    justify-content: space-between;
    align-items: center;    
}
#navbar2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);

    text-align: center;
}
#navbar2 h1{
    width: 200px;
    font-family: fantasy;
    text-align: center;
}


#navbar2 .cta-button{
    background-color: rgb(228, 71, 98);
    color: rgb(237, 237, 237);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    margin-left: 80px;
}