* {
    box-sizing: border-box;
}
.cover{
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.product1{
    background-color: rgb(250, 7, 7);
    text-align: center;

}
.product2{
    background-color: cadetblue;
    text-align: center;
    
}
.product3{
    background-color: greenyellow;
    text-align: center;
}