* {
    box-sizing: border-box;
}

body{
    display: grid;
    margin: 0px;
    font-family: sans-serif;
    background-color: #a0a7ad;
    color: #f7f7fa;
    ;
}
#header{
    display: block;
    background: linear-gradient(to right, yellow, green, blue,
    purple, red);
    color: black;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
   'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
}

#page-layout {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 500px 3fr 250px;
    grid-template-areas: "column-1 column-2 column-3"
}
#page-layout h2,
#page-layout h3 {
    border-bottom: 2px solid #4d16c3;
    padding-bottom: 8px;
}

#page-layout ul {
    list-style-type: none;
    padding: 0px;
}

#page-layout ul li {
    padding: 4px 0px;
}
#page-layout ul a {
    color: #0e223c;
    text-decoration: none;
}

#column-1 {
   padding: 10px;
    grid-area: column-1;
    margin: 0px auto;

}
#column-1 img{
    width: 100%;
}
#column-1 p img {
    display: inline-flex;
    width: 40%;
    margin-right:5px ;

}

#column-2 {
    padding: 6px 6px;
    grid-area: column-2;
}
#column-2 p{
    color: white;
    display: inline-block;
    text-align: center;
}
#column-2 b{
    color: rgb(255, 7, 7);
}
#main-content {
    background-color: #bbb1b1;
    text-align: center;
    border-radius: 24px;
    padding: 24px;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    
}
#column-3 {
    display: block;
    margin-right: 24px;
    border: #a0a7ad;
    grid-area: column-3;
    text-align: center;
}

#button-1{
    display: block ;
    background-color: #86c1e0;
    border-radius: 50px;
    border: 1px solid blue;
    margin-bottom: 5px;
}
#button-2{
    display: block ;
    background-color:blue ;
    border-radius: 50px;
    border: 1px solid #2996d1;
    margin-bottom: 5px; 
    
}
#button-3{
    display: block;
    background-color: rgb(168, 131, 182);
    color: blueviolet;
    border-radius: 50px;
    border: 1px solid blueviolet;
}
#main-image{
    width: 100%;
}