* {
    box-sizing: border-box;
}

body{
    display: grid;
    margin: 0px;
    font-family: sans-serif;
    background-color: #f6f8fa;
    color: #f7f7fa;
    ;
}

#three-columns {
    display: grid;
    grid-template-columns: 300px 2fr 250px;
grid-template-areas: "colunm-1 column-3 column-2"
}
#three-columns h2,
#three-columns h3 {
    border-bottom: 2px solid #4d16c3;
    padding-bottom: 8px;
}

#three-columns ul {
    list-style-type: none;
    padding: 0px;
}

#three-columns ul li {
    padding: 4px 0px;
}
#three-columns ul a {
    color: #0e223c;
    text-decoration: none;
}
#button-1{
    display: block ;
    background-color: #2996d1;
    border-radius: 50px;
    border: 1px solid blue;
    
}
#button-2{
    display: block ;
    background-color: #2996d1;
    border-radius: 50px;
    border: 1px solid blue;
    
}
#column-1 {
    margin-left: 24px;
    background-color: rgb(146, 151, 155);
    padding: 10px;
    grid-area: "column-2";
}

#column-2 {
    padding: 6px 6px;
    grid-area: "column-1";
}

#main-content {
    background-color: #bbb1b1;
    text-align: center;
    border-radius: 24px;
    padding: 24px;
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    
}
br{
    color: #030750;
}

#column-3 {
    display: block;
    margin-right: 24px;
    background-color:#8e8a8a;
    grid-area: "column-3";
    text-align: center;
}