* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#layout {
    max-width: 800px;
    margin: 48px auto;
    align-items: center;
}
#hero{
    background-image:url(../images/IMG_1422-EFFECTS.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#hero h1 {
    color: rgb(0, 0, 0);
    font-size: 8vw;
    margin: 30vh;
    margin-bottom: 40vh;
}


#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #199332;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 35vh;
    margin-right: 1vw;
}
.spacer{
height:20vh
}
 .card-container a{
   color: white;
}
#card-section {
    padding: 48px; 
    font-size: 1.5vw;
    
    text-decoration: none;
}
.card-container {
    display: flex;
    justify-content: space-between;
}

#about{
    border: 5px solid burlywood;
    align-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
#gallery-card{
    border: 5px solid burlywood;
    align-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
#contact{
    border: 5px solid burlywood;
    align-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
   text-align: center;
   justify-content: center;
   padding: 5vw;
}
#gallery h3{
    grid-area: 1;
}

#gallery img{
    width: 100%;

}
#designs{
    border: 15px ridge black;
    background-color: #4f2a14;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 4px;
}
#designs img{
width: 100%;
height: 100%;
}
.portrait{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
    gap: 12px;
    padding: 4px;
    border: 15px solid #333333;
}
.portrait img{
    width: 100%;
    height: 100%;
}
