* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, rgb(249, 249, 2), #e92f00);
    display: flex;
    align-items: center;
    font-size: 3vh;
    border-bottom:3px outset rgb(245, 214, 90);
}
#navbar a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 15px;
}
    
#navbar #logo {
    margin-right: auto;
}
    
#navbar #logo img {
    border-radius: 50px;
    width: 150px;
}

    
#navbar .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#footer {
    background: linear-gradient(to bottom,green, #01482e);
    color: white;
    padding: 12px;
}
    
#footer a {
    text-decoration: none;
    color: white;
}
    
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.cta-buttom{
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#hero {
    background-image: url("../images/hero1.jpeg");
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');  
#hero h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: ;
    color: aliceblue;
    font-size: 10vw;
    margin-right: 25px;
    padding-left: 10vw;
}    
#spacer{
    height: 10vh;
    background-image: url("../images/spacer1.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
#heading{
    text-align: center;
    justify-content: center;
    display: block;
    color: beige;
    font-size: 3vh;
    background-color: #020202;
    border: solid rgb(245, 214, 90) 5px;
}
.two-columns {
    display: flex;
    height: 70vh;
}
.big-text-column,
.img-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-text-column {
    background-color: #8e1a1a;
    color: white;
    font-size: 28px;
}
.column-content {
    margin: 48px;
    text-align: center;
}
.img-column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}  
#three-columns {
    display: grid;
    grid-template-columns: 1fr 250px 250px 250px 1fr;
    grid-template-areas: ". column-area-1 column-area-2 column-area-3 .";
}
#three-columns img{
    width:100%;
}
#three-columns2 {
    
    display: grid;
    grid-template-columns: 1fr 250px 250px 250px 1fr;
    grid-template-areas: " . column-area-1 column-area-2 column-area-3 .";
}
#three-columns2 img{
width: 100%;
}
#column-1 {
    padding: 5px 12px;
    grid-area: column-area-1;
}    
#column-2 {
    padding: 0px 12px;
    grid-area: column-area-2;
}
#column-3 {

    padding: 10px 12px;
    grid-area: column-area-3;
}
#three-columns h2,
#three-columns h3 {
    border-bottom: 2px solid #888888;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom:10px;
}
#three-columns2 h2,
#three-columns2 h3 {
    border-bottom: 2px solid #888888;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
}
#three-columns p {
    margin-top: 12px;
}
#layout {
    width: 300px;
    margin: 0px auto;}
    
header,
footer {
    text-align: center;
    padding: 50px;}
    
header p {
    font-size: 14px;}
    
form {
    background-color: white;
    padding: 36px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
}

    
form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
    
input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}
    
textarea {
    font-family: sans-serif;}
    
    
input[type=submit] {
    width: auto;
    background-color: #0e6de1;
    color: white;
    border: 0;
    border-radius: 3px;
    min-width: 75px;
}
    
    
input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}
@media screen and (max-width:830px){
    .cta-buttom{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 25px;

    }
    .big-text-column h2{
        text-align: center;
        font-size: 6vh;
    }
    .column-content p{
        font-size: 3vh;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin: 5px;
    }
    .column-content h2{
        font-size: large;
        padding: 10px;
    }
    .two-columns img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #three-columns img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #three-columns{
        display: flex;
        flex-wrap: wrap;
    }
    #three-columns2{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    } 
    #logo{
       margin:auto;
    }
    #footer-navbar{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center; 
        width: 300px; 
        min-width: none;
    }
    .two-columns h2 {
        font-size: 5vh;
    }
    .two-columns p{
        font-size: 3vh;
    }
    #column-2 h3 p{ 
        font-size: 2vh;
    }
    #column-1 h3 p{
        font-size: 3vh;
    }
    #column-3 h3 p{
        font-size: 3vh;
    }
    

}
    