* {
box-sizing: border-box;
}
body{
margin: 0px;
font-family: sans-serif;
}
#two-columns{
display: flex;
}
#sidebar-content{
background-color: lightskyblue;
width: 250px;
padding: 24px;
border-right: 2px solid #72a586;
}
#sidebar-content h2{
border-bottom: 2px solid blue;
padding-bottom: 8px;
}
#sidebar-content ul {
list-style-type: none;
padding: 0px;
}

#sidebar-content ul a {
color: #020202;
text-decoration: none;
}

#sidebar-content ul li {
padding: 4px 0px;
}
#main-content{
background-color: lightseagreen;
flex: 1;
padding: 48px;
}