/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-container{
    width: 90vw;
    max-width: 350px;
    margin: 48px auto;
    gap: 36px;
    
}
.card-style-1{
    width: 350px;
    border-radius: 2px;
    background-color: rgb(246, 246, 246);
    display:inline-block;
    flex-direction: column;
    
}
.card-style-1 a {
    color: rgb(242, 236, 236);
    font-weight:none ;
    font-size: 20px;
    background-color: green;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: background-color .5s ,
    color .5s;
    text-decoration: none;
    box-shadow: -4px 4px 12px rgb(91, 88, 88);
}
.card-style-1 a:hover{
    background-color: transparent;
    color:  rgb(18, 195, 47);
}
.card-style-1 img {
    width: 100%;
    height:250px ;
    object-fit: cover;
}
.card-style-1 p {
    font-size: 17px;
    margin: 12px;
    text-align: left;
}
.card-style-1 h2{
    text-align: center;
}