/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
    .tetris-block{
    border-width: 10px;
    border-style: outset;
    display: inline-block;
    padding: 20px;
}
.blue{
    background-color: rgb(25, 0, 255);
    border-color: rgb(33, 90, 188);
}
.green{
    background-color: greenyellow;
    border-color: rgb(38, 186, 38);
}
.sky-blue{
    background-color: aqua;
    border-color: rgb(12, 144, 144);
}