/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2{
    max-width: 350px;
    border-radius: 25px;
    background-color: rgb(246, 246, 246);
    display:block;
    flex-direction: column;
    margin: 10px;

}
.card-style-2 p {
    color: rgb(8, 8, 8);
    font-weight:none ;
    font-size: 19px;
    padding: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.profile-pic-container img{
    width: 65%;
    padding: 20PX;
    border-radius: 80%;
    margin-left: 60px;
    margin-top: 5px;
}
.card-style-2 h2{
    text-align: center;
    padding: none;
    
}
.animagram-header{
    margin-top: 20px;
}
.logo{
    margin-left:25px ;
}
.brand-name{
    margin: 48px;
    font-size: 28px;
}
.animagram-footer span {
    font-size: 25px;
}
.animagram-footer span i{
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
   
}
